.nav {
  float: right;
  width: 120px;
  background-color: lightblue;
  padding-left: 5px;
  text-align: center;
}

.intro {
  background-color: lightyellow
}

.intro h1{
  text-align: center;
}

.group img, .group p {
  max-width: 300px;
  float:left;
  padding: 10px;
  background-color: lightyellow
}

body {
  background-image: url(../img/poster.jpg);
}
